/* Container */
.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: linear-gradient(135deg, #f9f5eb 0%, #f3ecd8 100%);
    min-height: 100vh;
    padding: 40px 20px;
    padding-top: 120px;
  }
  
  /* Title */
  .formTitle {
    font-size: 3rem;
    font-weight: 900;
    color: #222;
    margin-top: 60px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  /* Form */
  .contactForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 600px;
    gap: 20px;
  }
  
  /* Inputs */
  .formInput,
  .formTextarea {
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    border-radius: 15px;
    border: 1px solid #aaa;
    background-color: #f4ffff;
    color: #333;
    box-sizing: border-box;
    outline: none;
  }
  
  .formInput::placeholder,
  .formTextarea::placeholder {
    color: #666;
  }
  
  .formTextarea {
    height: 250px;
    resize: none;
  }
  
  /* Submit button */
  .submitButton {
    align-self: center;
    background-color: #ff814b; /* Bright blue */
    color: white;
    border: none;
    border-radius: 15px;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #ff6f31;
    transform: translateY(-2px);
  }
  
  .submitButton:active {
    transform: translateY(2px);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  